body {

    background-image:url(../img/africa.jpeg);
    background-size: cover;
    width: 100%;
    height: 100px;
    object-fit: cover;
    
   }
   
   .container {
       text-align: center;
       background-image: url(../img/children.jpeg);
       background-size: cover;
       /* background-color: white; */
       position: fixed; 
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);  
       height: 700px;
       
       
       /* padding-left: 100px;
       padding-right: 50px;
       padding-top: 150px ;
       padding-bottom: 0px;
       margin: 0 auto; */
        border-radius: 5px; 
   }
   .container label {
       display: block;
       margin: 0.5cm 0; 
   }
   .container label input {
       font-size: 18px;
       padding: 0.5cm;

   }
   
   /* .container input[type = "submit"]{
       font-size: 25px;
       color: blue;
   
   }  */

.header {
    padding-top: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
    text-align: center;
    color: white;
   
}

.intro {
    font-size: large;
    color: white;
}

/* .header2 {
    margin: 0;
    text-align: center;
    
} */

.form {
    padding: 30px 40px;
    border-radius: 5px;

}

/* .button {
    color: black;
    
} */

.enter {
    color: white;
}

