body {
    
    background-image: url('https://1.bp.blogspot.com/-sTxAHAxirGM/WVbAe2098nI/AAAAAAABENs/_I5sYMYgLOUzaIE7FfF4qdGX-hoAkq9SgCLcBGAs/s1600/Blog_20170624_113552.jpg');
    background-color: lightblue;
    color: white;    
   }
   
   .container {
       background-image: url('https://1.bp.blogspot.com/-sTxAHAxirGM/WVbAe2098nI/AAAAAAABENs/_I5sYMYgLOUzaIE7FfF4qdGX-hoAkq9SgCLcBGAs/s1600/Blog_20170624_113552.jpg');
    
       width: 480px;
       max-width: 95%;
       margin: 0 auto;
        border-radius: 5px;
   }
   .container label {
       display: block;
       margin: 0.5cm 0; 
   }
   .container label input {
       font-size: 18px;
       padding: 0.5cm;

   }
   
   .container input[type = "submit"]{
       font-size: 25px;
       color: blue;
   
   } 

.header {
    background: color #84b0f1; 
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
    font-size: large;
    text-align: center;
   
}

.intro {
    text-align: center;
    font-family: inherit;

}

.header2 {
    margin: 0;
    text-align: center;
    
}

.form {
    padding: 30px 40px;

}

